hcName="Ongoing Deployment"
tags=["deployment"]
osgi.http.whiteboard.filter.regex="/packmgr/service.jsp"
osgi.http.whiteboard.context.select="(osgi.http.whiteboard.context.name\=com.adobe.granite.crx)"
method="POST"
delayProcessingInSec=L"2"
tagsDuringDelayedProcessing=["predeployment"]
waitAfterProcessing.forTags=["installer"]
waitAfterProcessing.initialWait=L"2"
