hc.name="Sling OSGi Installer"
hc.tags=["installer"]
statusForFailedContraint="TEMPORARILY_UNAVAILABLE"
mbean.name="org.apache.sling.installer:name\=Sling OSGi Installer,type\=Installer"
attribute.name="Active"
attribute.value.constraint="false"
attribute2.name="SuspendedSince"
attribute2.value.constraint="OLDER_THAN 2 sec"
