tags=["systemalive"]
service.ranking=I"2147483647"
osgi.http.whiteboard.context.select="(osgi.http.whiteboard.context.name\=*)"
osgi.http.whiteboard.filter.regex="(?!/system/).*"
responseTextFor503="503 Startup/Shutdown"
includeExecutionResult=B"false"
autoDisableFilter=B"true"
avoid404DuringStartup=B"true"