hc.name="Basic Sling Services"
hc.tags=["systemready", "systemalive"]
services.list=[\
  "org.apache.sling.jcr.api.SlingRepository",\
  "org.apache.sling.engine.auth.Authenticator",\
  "org.apache.sling.api.resource.ResourceResolverFactory",\
  "org.apache.sling.api.servlets.ServletResolver",\
  "javax.script.ScriptEngineManager",\
]